@tailwind base;
@tailwind components;
@tailwind utilities;

/* Thin, minimal scrollbar */
.thin-scrollbar::-webkit-scrollbar {
    width: 4px; /* Thin width */
}

.thin-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.4);
    border-radius: 10px;
}

.thin-scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.7);
}

/* For Firefox */
.thin-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(100, 100, 100, 0.5) transparent;
}

/* Hide scrollbar for Chrome, Safari, Edge */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
    scrollbar-width: none;
}

/* Hide scrollbar for IE/Edge Legacy */
.no-scrollbar {
    -ms-overflow-style: none;
}
